name: 04-using-actions

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'
      - name: Install dependencies
        working-directory: 04-using-actions/react-app
        run: npm ci

    # 0. Checkout the code from repository
    # 1. Install dependencies of our application
    # 2. Execute automated tests